.messagePage {
  .message-item {
    height: 160rpx;
    margin: 0 30rpx;
    padding: 20rpx 0;
    display: flex;
    align-items: stretch;
    border-bottom: 1rpx solid #ededed;
    .avator {
      width: 90rpx;
      height: 90rpx;
      border-radius: 50%;
      background: rgba(216, 216, 216, 1);
      border: 2rpx solid rgba(220, 220, 220, 1);
      margin: 0 30rpx 0 0;
    }

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .name {
        font-size: 36rpx;
        color: rgba(102, 102, 102, 1);
        line-height: 50rpx;
      }
      .msg {
        font-size: 36rpx;
        color: rgba(46, 46, 46, 1);
        line-height: 50rpx;
      }
      .time {
        font-size: 28rpx;
        color: rgba(179, 179, 179, 1);
        line-height: 40rpx;
      }
    }
    .blog {
      width: 140rpx;
      font-size: 0;
      align-self: center;
      .media {
        width: 140rpx;
        height: 140rpx;
        border-radius: 10rpx;
        position: relative;
        image {
          width: 18px;
          height: 18px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0.7;
        }
      }
      .word {
        font-size: 28rpx;
        color: rgba(179, 179, 179, 1);
        line-height: 40rpx;
      }
    }
  }
}
