@import "..\\..\\variables.scss";

page {
  background: #eee;
}
.wrap {
  box-sizing: border-box;
  padding-bottom: 120rpx;
  & > .item {
    background: #fff;
    padding: 0 30rpx;
    margin-bottom: 20rpx;
    &:last-of-type {
      border-bottom: none;
    }

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30rpx 0 20rpx;
      .date {
        font-size: 28rpx;
        color: #bdbdbd;
      }
      .left {
        display: flex;
        align-items: center;
      }
      .avatarUrl {
        width: 90rpx;
        height: 90rpx;
        border-radius: 50%;
        border: 1rpx solid #d8d8d8;
      }
      .text {
        margin-left: 20rpx;
        width: 400rpx;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .nickName {
        font-size: 40rpx;
        color: #343434;
      }
      .school {
        margin-top: 5rpx;
        font-size: 28rpx;
        color: #bdbdbd;
      }
    }
    .name {
      text-align: justify;
      line-height: 60rpx;
      font-size: 40rpx;
      color: #3a3a3a;
    }

    .content {
      .img {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        image {
          margin-top: 20rpx;
        }
        &.one {
          max-height: 100vh;
          overflow: hidden;
          image {
            width: 400rpx;
          }
        }
        &.three {
          image {
            width: 216rpx;
            height: 216rpx;
            margin-right: 20rpx;
            &:nth-of-type(3n) {
              margin-right: 0;
            }
          }
        }
      }
      video {
        margin-top: 20rpx;
        width: 100%;
        height: 350rpx;
      }
      .poster {
        position: absolute;
        width: 100%;
        height: 100%;
        filter: brightness(0.8);
      }
      .bg {
        position: relative;
        margin-top: 20rpx;
        width: 100%;
        height: 350rpx;
      }
      .play {
        position: absolute;
        z-index: 2;
        width: 74rpx;
        height: 74rpx;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
    .label {
      background: #52d9c3;
      margin: 20rpx 0;
      display: block;
      width: 230rpx;
      line-height: 44rpx;
      border-radius: 6rpx;
      color: #fff;
      font-size: 28rpx;
      text-align: center;
    }
  }
  .btn {
    height: 125rpx;
    margin-top: 30rpx;
    position: relative;
    border-top: 2rpx solid #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: stretch;
    .division {
      width: 2rpx;
      height: 40rpx;
      background: #dbdbdb;
    }
  }
}

.btn {
  & > .item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .iconfont {
      font-size: 58rpx;
      color: #bdbdbd;
      text-align: center;
    }

    .praise {
      width: 125rpx;
      height: 125rpx;
      background-size: cover;
      background-image: url($bg-host+"/heart-ani.png");
      animation-fill-mode: forwards;
      &.end {
        background-position: 100% 0;
      }
      &.ani {
        animation: ani steps(20) 1s both;
      }
      & + .text {
        margin-left: -20rpx;
      }
    }

    .text {
      margin-left: 20rpx;
      font-family: PingFangSC-Regular;
      font-size: 28rpx;
      color: #3a3a3a;
      letter-spacing: 0;
      line-height: 40rpx;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  height: 120rpx;
  width: 100%;
  background: #f8f8f8;
  display: flex;
  &::after {
    content: "";
    width: 2rpx;
    height: 40rpx;
    background: #dbdbdb;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.write,
.to {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 120rpx;
}
.write {
  .icon {
    margin-top: 5rpx;
    width: 34rpx;
    height: 34rpx;
  }
}
.to {
  .icon {
    font-size: 60rpx;
    color: #df2020;
    text-align: center;
    margin-top: -8rpx;
  }
}
.write .text,
.to .text {
  font-size: 40rpx;
  color: #343434;
  padding: 0 15rpx;
  line-height: 56rpx;
}
